<h3><i class="fa-solid fa-book-skull"></i>Mythic Secrets</h3>
<div class="section">
    <p class="lead">Create fictional stories for your DnD campaign and get inspiration from others</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>